*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

td, th {
    border: 1px solid #272626;
    text-align: left;
    padding: 10px;
}

tr:nth-child(even) {
    background-color: #dfdddd;
}